&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	{{# emergency }}
	{{&gt; molecules-alert:error }}
	{{/ emergency }}
	{{# hero }}
	{{&gt; molecules-block-hero }}
	{{/ hero}}
	{{&gt; organisms-slab }}
	&lt;div class=&quot;g&quot;&gt;
		{{# touts}}
		&lt;div class=&quot;gi one-third&quot;&gt;
			{{&gt; molecules-block-inset }}
		&lt;/div&gt;
		{{/ touts}}
	&lt;/div&gt;&lt;!--end 3up--&gt;
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;demo&quot;&gt;
			{{&gt; molecules-slider }}
			&lt;hr /&gt;
			&lt;div class=&quot;l-one-col&quot;&gt;
				&lt;div class=&quot;l-main&quot;&gt;
					&lt;section class=&quot;section latest-posts&quot;&gt;
						&lt;h2 class=&quot;section-title&quot;&gt;Latest Posts&lt;/h2&gt;
						&lt;ul class=&quot;post-list&quot;&gt;
							{{# latest-posts }}
							&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
							{{/ latest-posts }}
						&lt;/ul&gt;
						&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
					&lt;/section&gt;
				&lt;/div&gt;&lt;!--end .l-main--&gt;
				&lt;!-- &lt;div class=&quot;l-sidebar&quot;&gt;
					{{&gt; organisms-recent-tweets }}
					{{&gt; organisms-poll }}
				&lt;/div&gt; --&gt;&lt;!--end .l-sidebar--&gt;
			&lt;/div&gt;&lt;!--end .l-two-col--&gt;
		&lt;/div&gt;&lt;!--end .demo--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}	
&lt;/div&gt;&lt;!--End #page.page--&gt;
