&lt;div class=&quot;block block-hero&quot;&gt;
	&lt;a href=&quot;{{ url }}&quot; class=&quot;b-inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-landscape-8x3 }} 
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;